body {
  height: 100vh;
  background: #d7dbdd;
}

label,
#status,
h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;

}

#status {
  font-size: 20px;
}
